<div class="content">
    @using (Html.BeginForm("UploadFile", "Home", FormMethod.Post)) {
        <div class="form-group">
            <label for="file">Upload Image:</label>
            <input type="file" name="file" id="file" style="width: 100%;" />
            <input type="submit" value="Upload" class="submit" />       
        </div>
    }
</div>

