@model Blog.PostViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="account-bg">
    <div class="account-wrapper">
        <div class="account-body">
            <form action="" method="post" enctype = "multipart/form-data" returnUrl = ViewBag.ReturnUrl class = "col-md-12 center-block">
                <div class="post-main">
                    <div class="form-group">
                        @Html.TextBoxFor(m => m.Image, new { type = "file" })
                    </div>
                    <div class="form-group">
                        <h3 class="post-title">@Html.TextBoxFor(m => m.Title, new { @class = "form-control", @placeholder = "Title" })</h3>
                    </div>
                    <div class="post-content">
                        <div class="form-group">
                            @Html.TextAreaFor(m => m.Content, new { @class = "form-control", @placeholder = "Add content" })
                        </div>
                    </div>
                </div>
                @Html.ValidationSummary(false, string.Empty)
                <div class="form-action">
                    <button class="btn btn-primary btn-block btn-lg" type="submit">Add Post</button>
                </div>
            </form>
        </div>
    </div>
</body>

